# Requires mod_rewrite, mod_filter, mod_deflate

# Use UTF-8 encoding for anything served text/plain or text/html
	AddDefaultCharset utf-8

# Disable Directory Browsing
	Options All -Indexes

# Compress text, html, javascript, css
<IfModule mod_filter.c>
	AddOutputFilterByType DEFLATE \
		application/javascript \
		application/json \
		font/opentype \
		text/css \
		text/html \
		text/plain \
		text/javascript
</IfModule>

RewriteEngine on

# Disallow hidden files, inclusive of .git*, .ht*
	RedirectMatch 404 /\..*$

# Force www
#	RewriteCond %{HTTP_HOST} !^$
#	RewriteCond %{HTTP_HOST} !^www\. [NC]
#	RewriteCond %{HTTPS}s ^on(s)|
#	RewriteRule ^ http%1://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# Force non www
#	RewriteCond %{HTTP_HOST} ^www\.
#	RewriteCond %{HTTPS}s ^on(s)|off
#	RewriteCond http%1://%{HTTP_HOST} ^(https?://)(www\.)?(.+)$
#	RewriteRule ^ %1%3%{REQUEST_URI} [R=301,L]

# Remove Trailing Slash
#	RewriteCond %{REQUEST_FILENAME} !-d
#	RewriteRule ^(.*)/$ /$1 [R=301,L]

# Force https
#	RewriteCond %{HTTPS} !on
#	RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# SEF links
#	RewriteCond %{SCRIPT_FILENAME} !-f
	RewriteCond %{SCRIPT_FILENAME} !\.(jpg|png|css|js|less|sass|scss)$
	RewriteRule ^.*$ lib/entry.php [NC,L,QSA]

# Expires Headers
#<IfModule mod_expires.c>
	# ExpiresActive on
	# ExpiresDefault							"access plus 1 month"

	# CSS
	#	ExpiresByType text/css					"access plus 1 year"

	# Data interchange
	#	ExpiresByType application/json			"access plus 0 seconds"

	# Favicon (cannot be renamed!)
	#	ExpiresByType image/x-icon				"access plus 1 week"

	# HTML
	#	ExpiresByType text/html					"access plus 0 seconds"

	# JavaScript
	#	ExpiresByType application/javascript	"access plus 1 year"

	# Media
	#	ExpiresByType image/jpeg				"access plus 1 month"
	#	ExpiresByType image/png					"access plus 1 month"
	#	ExpiresByType video/mp4					"access plus 1 month"

	# Web fonts
	#	ExpiresByType application/font-woff2	"access plus 1 month"
	#	ExpiresByType application/font-woff		"access plus 1 month"
	#	ExpiresByType application/x-font-ttf	"access plus 1 month"
	#	ExpiresByType font/opentype				"access plus 1 month"
	#	ExpiresByType image/svg+xml				"access plus 1 month"
#</IfModule>

# Maintenance
#	ErrorDocument 403 MaintenancePageOrFullUrl.html
#	Order deny,allow
#	Deny from all
#	Allow from xxx.xxx.xxx.xxx
